
.special-film{
    padding: 32px 0;
    width: 88%;
    height: 100%;
}

.film-maket{
    margin-bottom: 30px;
    padding: 0 17px 0px 0;
    .film{
        padding: 0;
        .card-header{
            height: 258px;
        }
    }
}

