.pagination-prev-next {
    background-color: black;
    color: white;
    border: 1px solid white;

    &:hover {
        background: #29292A;
        color: #fff;
        border: 1px solid #29292A;
    }
}

#pagination-active {
    background-color: #ff8d1b;
    color: #fff;
}

.paginatino-item {
    max-width: 150px;
    overflow-x: scroll;
    display: flex;
    text-decoration: none;
    padding: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        list-style: none;
        text-decoration: none;
    }
}

.swiper-pagination {
    display: none;
}